# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @<global-owner> will be requested for
# review when someone opens a pull request.
*                @thecloudexplorers/sovereign-solutions

# In this example, @thecloudexplorers/sovereign-solutions-reviewers
# owns any files in the src/nix directory at the root of the repository
# and any of its subdirectories.
/src/nix/        @thecloudexplorers/tce-nix-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies PowerShell files, only this owner and not the global
# owner(s) will be requested for a review.
/src/powershell/  @thecloudexplorers/tce-powershell-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Azure Pipelines files, only this owner and not the
# global owner(s) will be requested for a review.
*.yml            @thecloudexplorers/tce-azure-pipelines-reviewers
